.sliderContainer {
	width: 970px;
	margin: 0 auto;
	border-radius: 20px;
	overflow: hidden;

	@media screen and (max-width: 768px) {
		margin-top: 30px;

		width: 250px;
		border-radius: 10px;
	}
}

/* .splide {
} */

.splideImg {
	width: 970px;
	height: 700px;
	@media screen and (max-width: 768px) {
		width: 250px;
		height: 180px;
	}
}

/* .sliderContainer {
	max-width: 970px;
	margin: 0 auto;
	border-radius: 30px;

	@media screen and (max-width: 768px) {
		border-radius: 10px;
	}
} */

.technikaSection {
	position: relative;
	padding-bottom: 50px;

	@media screen and (max-width: 768px) {
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.technikaSection::before {
	content: '';
	display: block;
	width: 100%;
	height: 200px;
	background: #00304a;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.technikaSection::after {
	content: '';
	display: block;
	width: 100%;
	height: 50px;
	background: #ffa502;
	position: absolute;
	top: 200px;
	left: 0;
	z-index: -1;
}

@media screen and (max-width: 768px) {
	.technikaSection::before {
		height: 45px;
	}

	.technikaSection::after {
		top: 45px;
		height: 10px;
	}
}

.technikaTitle {
	margin: 0;
	padding: 60px 0 40px 0;
	text-align: center;
	font-size: 36px;
	line-height: 1.3;
	font-weight: 700;
	color: #ffffff;
	@media screen and (max-width: 768px) {
		padding: 10px 0;
		text-align: center;
		font-size: 16px;
	}
}

.technikaTitleSolo {
	@media screen and (max-width: 768px) {
		padding: 0;
	}
}

.technikaList {
	position: absolute;
	top: 700px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
	padding: 0;
	margin: 0;
	z-index: 2;

	@media screen and (max-width: 768px) {
		position: relative;
		top: 0;
		margin-top: 20px;
		/* top: 230px; */
		flex-direction: column;
		gap: 15px;
	}
}

.technikaItem {
	width: 320px;
	height: 500px;
	background: #ffffff;
	box-shadow: 4px 4px 10px 0px #00000040;
	border-radius: 15px;
	overflow: hidden;
	@media screen and (max-width: 768px) {
		height: auto;
	}
}

.technikaItemSolo {
	width: 450px;
	height: 400px;
	@media screen and (max-width: 768px) {
		width: 320px;
		height: auto;
	}
}

.technikaItemEighth {
	width: 450px;
	height: 450px;
	@media screen and (max-width: 768px) {
		height: auto;
		width: 320px;
	}
}

.technikaItemThird {
	height: 600px;
	@media screen and (max-width: 768px) {
		height: auto;
	}
}

.technikaItemContainer {
	margin-top: 400px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: auto;
	background: #ffffff;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 4px 4px 10px 0px #00000040;

	@media screen and (max-width: 768px) {
		/* margin-top: 900px; */
		margin-top: 20px;
		width: auto;
	}
}

.technikaItemContainerSolo {
	margin-top: 300px;
	@media screen and (max-width: 768px) {
		margin-top: 20px;
	}
}

.technikaItemContainerThird {
	margin-top: 500px;
	@media screen and (max-width: 768px) {
		margin-top: 20px;
	}
}

.technikaItemContainerEighth {
	margin-top: 350px;
	@media screen and (max-width: 768px) {
		margin-top: 20px;
	}
}

.technikaSubTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	margin: 0;
	padding: 15px;
	box-sizing: border-box;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2;
	background: #00304a;
	color: #ffffff;
	@media screen and (max-width: 768px) {
		height: 70px;
		font-size: 18px;
	}
}

.specificationList {
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 40px;
	list-style: disc;
	@media screen and (max-width: 768px) {
		padding-bottom: 20px;
	}
}

.specificationListThird {
	font-weight: 700;
}

.specificationItem {
	font-size: 18px;
	font-weight: 500;
}

.specificationItem:not(:last-child) {
	padding-bottom: 10px;
}
.specificationItemThird {
	padding-top: 10px;
}

.specificationItemText {
	font-size: 18px;
	line-height: 1.6;
	font-weight: 400;
	text-align: center;
	padding: 20px;
	margin: 0;
	@media screen and (max-width: 768px) {
		font-size: 16px;
	}
}

.specificationItemTextAccent {
	font-weight: 500;
	color: #00304a;
}

.specificationItemDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	margin: 0;
	background: #00304a;
	color: #ffffff;
	@media screen and (max-width: 768px) {
		height: 50px;
	}
}
