.formContainer {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 140px;
	border-radius: 10px;
	box-shadow: 4px 4px 8px 0px #00000040;
	overflow: hidden;
	@media screen and (max-width: 768px) {
		margin-bottom: 40px;
		margin-left: 20px;
		margin-right: 20px;
	}
}

.title {
	width: 100%;
	height: 110px;
	padding-top: 10px;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	color: #fff;
	background: #00304a;
	border-bottom: 20px solid #ffa502;
	@media screen and (max-width: 768px) {
		height: 80px;
		font-size: 14px;
		padding-top: 5px;
	}
}

.insideContainer {
	padding: 20px 40px;
	background: #d9d9d9;
	@media screen and (max-width: 768px) {
		padding: 20px 30px;
	}
}

.labelContainer {
	display: flex;
	flex-direction: column;
	position: relative;
}

.labelTitle {
	font-size: 16px;
	margin-bottom: 5px;
}

.formInput {
	font-family: inherit;
	font-size: 16px;
	line-height: 1.2;

	width: 320px;
	height: 40px;
	padding: 5px 10px;

	border-radius: 10px;
	opacity: 0px;

	background: #ffffff80;
	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.formTextarea {
	font-family: inherit;
	font-size: 16px;
	line-height: 1.2;
	width: 400px;
	height: 230px;
	padding: 10px;
	border-radius: 10px;
	border: none;
	opacity: 0px;

	background: #ffffff80;

	@media screen and (max-width: 768px) {
		width: 100%;
		height: 200px;
	}
}

.flexContainer {
	display: flex;
	gap: 60px;
	margin-bottom: 40px;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		gap: 30px;
	}
}

.firstSection {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.secondSection {
	display: flex;
	flex-direction: column;
	position: relative;
}

.checkbox {
	display: -webkit-box;
	gap: 15px;
	margin-bottom: 15px;
}

.errorMsg {
	position: absolute;
	bottom: -22px;
	left: 0;
	margin-top: 5px;
	color: red;
	font-size: 14px;
}

.errorText {
	color: red;
}

.customCheckboxInput {
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

.customCheckbox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	border: 2px solid #858585;
	border-radius: 7px;
	background: #fff;
}

.customCheckboxInput:checked + .customCheckbox::before {
	content: '';
	width: 14px;
	height: 14px;
	background-color: #ffa502;
	border-radius: 3px;
	position: absolute;
}

.submitButtom {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	width: 130px;
	height: 50px;
	font-size: 18px;
	font-weight: 500;
	color: #00304a;
	background: #fff;
	border: 1px solid #00304a;
	border-radius: 14px;
	cursor: pointer;
	@media screen and (max-width: 768px) {
		width: 100px;
		height: 40px;
	}
}

.submitButtom:hover,
.submitButtom:focus {
	color: #fff;
	background: #00304a;
	box-shadow: 0 4px 20px rgba(255, 165, 2, 0.5);
}

.text {
	font-size: 12px;
	@media screen and (max-width: 768px) {
		max-width: 100%;
		margin-right: 30px;
	}
}
