.modalContent {
	background: white;
	padding: 20px;
	border-radius: 10px;
	width: 400px;
	margin: auto;
	text-align: center;
}

.modalOverlay {
	background: rgba(0, 0, 0, 0.5);
}

.modalTitle {
	font-size: 24px;
	margin-bottom: 10px;
}

.modalMessage {
	font-size: 16px;
	margin-bottom: 20px;
}

.closeButton {
	background: #dc3545;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}
