.welcomeSection {
	/* text-align: center; */
	height: 600px;
	background-image: url('../../images/TechnikaWelcomeBg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@media screen and (max-width: 768px) {
		height: 180px;
		background-image: url('../../images/bgTechnikaMob.jpg');
	}
}

.title {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.2;
	padding: 30px 0 0 140px;
	text-shadow: 0 4px 4px #00000099;
	@media screen and (max-width: 768px) {
		font-size: 18px;
		padding: 0;
		padding-top: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 180px;
		text-align: center;
	}
}

.text {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	margin-top: 400px;
	color: #fff;
	text-shadow: 0 4px 4px #00000099;
	@media screen and (max-width: 768px) {
		font-size: 16px;
		margin: 0;
		padding-top: 70px;
		margin-left: auto;
		margin-right: auto;
	}
}

.textPhone {
	display: flex;
	justify-content: center;
	width: fit-content;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
	margin: 10px auto 0;
	color: #fff;
	text-shadow: 0 4px 4px #00000099;
	text-decoration: none;
	&:hover,
	&:focus {
		/* text-decoration: underline; */
		color: #ffa502;
	}
	@media screen and (max-width: 768px) {
		font-size: 16px;
	}
}
