.welcomeSection {
	/* text-align: center; */
	height: 500px;
	background-image: url('../../images/KarieraWelcome.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.text {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2;
	margin: 0;
	padding-top: 200px;
	padding-left: 140px;
	color: #fff;
	text-shadow: 0 4px 4px #00000099;
}

.textPhone {
	display: inline-block;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
	margin: 0;
	margin-left: 140px;
	margin-top: 15px;
	color: #fff;
	text-shadow: 0 4px 4px #00000099;
	text-decoration: none;
	&:hover,
	&:focus {
		/* text-decoration: underline; */
		color: #ffa502;
	}
}
