.mainSection {
	padding-bottom: 50px;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 768px) {
		padding-bottom: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.mainList {
	display: flex;
	flex-direction: column;
	gap: 50px;

	@media screen and (max-width: 768px) {
		gap: 25px;
	}
}

.mainItem {
	position: relative;
	background-image: url('/src/images/DomyBgImg.svg');
	background-repeat: no-repeat;

	@media screen and (max-width: 768px) {
		background-image: url('/src/images/DomyBgImgMob.svg');
	}
}

.mainItem::before {
	content: '';
	position: absolute;
	top: 0;
	left: -560px;
	width: 560px;
	height: 90px;
	background: #00304a;
	z-index: -1;
}

@media screen and (max-width: 768px) {
	.mainItem::before {
		left: -559px;
		width: 560px;
		height: 35px;
		background: #00304a;
		z-index: -1;
	}
}

.mainSubTitle {
	display: flex;
	align-items: center;
	margin-left: 140px;
	height: 90px;
	font-size: 36px;
	font-weight: 500;
	color: #fff;
	@media screen and (max-width: 768px) {
		font-size: 16px;
		margin-left: 0;
		height: 35px;
		width: max-content;
	}
}

.mainLink {
	width: max-content;
	display: block;
	cursor: pointer;
}

.linkRedirect {
	margin-left: auto;
	margin-right: auto;
}

.continerFlex {
	display: flex;
	gap: 100px;
	margin-left: 140px;
	margin-right: 140px;
	@media screen and (max-width: 768px) {
		margin-right: 0px;
		margin-left: 0px;
		flex-direction: column;
		gap: 20px;
	}
}

.itemImg {
	width: 565px;
	height: 400px;
	@media screen and (max-width: 768px) {
		width: 210px;
		height: auto;
	}
}

.textContainer {
	max-width: 800px;
	text-align: right;
}

.text {
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 20px;
	text-align: start;
	@media screen and (max-width: 768px) {
		text-align: center;
	}
}

.textNormal {
	font-size: 16px;
	line-height: 1.2;
	text-align: start;
	margin-bottom: 5px;
}

.textCenter {
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 20px;
}

.textAccent {
	font-weight: 600;
}

.workList {
	text-align: left;
	list-style: inside;
	margin-bottom: 20px;
}

.workItem {
	font-size: 16px;
	font-weight: 400;
}
.workItem:not(:last-child) {
	margin-bottom: 5px;
}
/* .buttonDomy {
} */

.relocateLink {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 55px;
	font-size: 18px;
	font-weight: 500;
	color: #00304a;
	background: #fff;
	border: 1px solid #00304a;
	border-radius: 14px;
	@media screen and (max-width: 768px) {
		width: 120px;
		height: 35px;
		font-size: 16px;
	}
}

.relocateLink:hover,
.relocateLink:focus {
	color: #fff;
	background: #00304a;
	box-shadow: 0 4px 20px rgba(255, 165, 2, 0.5);
}

.technikaItemContainer {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1160px;
	height: auto;
	background: #ffffff;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 4px 4px 10px 0px #00000040;

	@media screen and (max-width: 768px) {
		/* margin-top: 900px; */
		margin-top: 20px;
		width: auto;
	}
}

.specificationItem {
	font-size: 18px;
	font-weight: 500;
}

.specificationItem:not(:last-child) {
	padding-bottom: 10px;
}

.specificationItemText {
	font-size: 16px;
	line-height: 1.6;
	font-weight: 400;
	padding: 40px;
	margin: 0;
	@media screen and (max-width: 768px) {
		font-size: 16px;
		padding: 20px;
	}
}

.specificationItemDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	margin: 0;
	font-size: 36px;
	font-weight: 600;
	background: #00304a;
	color: #ffffff;
	@media screen and (max-width: 768px) {
		height: 50px;
		font-size: 18px;
	}
}
