
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    box-sizing: border-box;
    padding: 20px 140px;
    background-image: url('/src/images/headerBlue.svg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: left; 

  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .navigation {
    display: flex;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  